body{
    background-image: url("1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100% ;
}
.nav{
    text-align: center;
    display: flex;
    justify-content: center;
}

#font{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    font-weight: 500;
  

}
.title{
    font-size: 1.5em;
    position: absolute;
    margin: 1.2% ;
    font-weight: bold;
    
}
ul li a {
    margin: 0 30px 0 30px;
}
@media (max-width:990px){

    .nav{
        float: right;
    }
   
   #burger{
 margin-left: auto;

   }

   ul li {
    margin-left: auto;

   }

   .intro{
    font-size: 10px;
   
   
   
   }
  
}



/* Introduction  */


.intro{
    float: right;
    width: 50em;
    height: 50em;
    margin: 3% 100px 0 0;
    flex-shrink: 0;
    font-family: 'Courier New', Courier, monospace;
    background: rgba(103, 101, 101, 0.615);
    padding-top: 50px;
    text-align: center;
 
    
}
.firstp .secondp .thirdp {

    font-family: 'Roboto', sans-serif;

}


.firstp{
    font-size: 2.5em;
    
}
.secondp {
    font-size: 2.5em;
    font-weight: bold;
}

.thirdp{
    font-size: 2em;
    padding-left: 2.7em;
    padding-right: 2.7em;
}




/**/